
/*ОБНУЛЕНИЕ*/
* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }
/*ОБНУЛЕНИЕ*/

body{
  font-family: Montserrat;
}

.flex{
  display: flex;
  min-height: 100%; /*минимальная высота и есть весь экран пользователя*/
  flex-direction: column;
 
}
.header{
  width: 100%;
  height: 100px;
  background-color:#414141 ;
}
.wrapper{
  margin: 0px 100px;
  min-height:100%;
}
.img_link{
  display: inline-block;
  padding-top:30px;
}
.nav{
  display: flex;
  justify-content: space-between;
  
}
.block__nav{
  padding-top: 35px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.block__nav-item{
  margin-left: 34px;
}
.block__nav-item a:hover{
  transition: 0.5s;
  color: transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(315deg, #5BD1BC, #B95ADB);

}
.block__nav-item a{
  text-decoration: none;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.info{
  width: 100%;
  flex:1 1 auto;
  background: url(../img/presents.png) center no-repeat;
  background-size: cover;
}

.info__text{
  padding-top: 60px;
  margin: 0 auto;
}

.info__text-item{
  color: white;
  text-align: center;
}

.info__text-item h1{
  padding-bottom: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.info__text-item h2{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 30px;
}

.info__text-item p{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  padding-bottom: 32px;
}

.info__text-item1 p{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 162.4%;
  text-align: center;
  color: white;
}

/*FOOTER*/
footer{
  width:100%;
  height: 115px;
  background-color: black;
}
.footer__block{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.root{ 
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}
.social{
  display: flex;
  margin-bottom: 15px;
}
.footer__block-vk{
 margin-right: 10px;
}

/*FOOTER*/