
/*ОБНУЛЕНИЕ*/
* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }
  

/*ОБНУЛЕНИЕ*/
body{
  background:#E9E8E8;
}
.flex{
  display: flex;
  min-height: 100%;
  flex-direction: column;

}
.header{
    width: 100%;
    height: 100px;
    background-color:#414141 ;
}
.wrapper{
  margin: 0px 100px;
  
}
.img_link{
    display: inline-block;
    padding-top:30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.block__nav{
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.block__nav-item{
   margin-left: 34px;
}
.block__nav-item a:hover{
    transition: 0.5s;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(315deg, #5BD1BC, #B95ADB);
  
}
.block__nav-item a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
 .info{
    flex: 1 1 auto;
    margin-top: 67px;
    
 }
.text-info h1{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 135.4%;
    letter-spacing: 0.13em;
}
.text-info h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 149.4%;
    /* or 36px */
    margin-top: 36px;
    text-align: center;
    letter-spacing: 0.13em;
}
.text-info h3{
    margin-top: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 167.4%;
    /* or 30px */

    text-align: center;
    letter-spacing: 0.13em;

    color: #C23737;
}














 
footer{
    width:100%;
    height: 115px;
    background-color: black;
}
.footer__block{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.root{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
}
.social{
    display: flex;
    margin-bottom: 15px;
}
.footer__block-vk{
 margin-right: 10px;
}

