/*ОБНУЛЕНИЕ*/
* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }
  

/*ОБНУЛЕНИЕ*/
body{
  background: #E9E8E8;
}
.header{
    width: 100%;
    height: 100px;
    background-color:#414141 ;
}
.wrapper{
    margin: 0px 100px;
    height: inherit;
}
.img_link{
    display: inline-block;
    padding-top:30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.block__nav{
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.block__nav-item{
   margin-left: 34px;
}
.block__nav-item a:hover{
    transition: 0.5s;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(315deg, #5BD1BC, #B95ADB);
  
}
.block__nav-item a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h1{
    margin: 67px 0px 41px 0px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}
h2{ 
    margin-bottom: 41px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}
 h5{
     margin-bottom: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
 }
 .block{
     
    margin-bottom: 67px;
     padding-top: 41px;
 }
 .first-block, .second-block{
     display: flex;
 }
 .block__items{
    position: relative;
    width: 50%;
    height: 390px;
    border: 1px solid black;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.87) 100%);
    color: white;
 }
 .wrapblock{
   margin: 0px 39px 0px 97px;
   height: 390px;
 }
 .block__items1{
    position: relative;
    background: #FFFFFF;
    width: 50%;
    height: 390px;
    
 }
.block__items-title{
  padding: 79px 0px 20px 0px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

}
.block__items-text{
    
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
}
 
h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 151.9%;
    /* or 36px */

    text-transform: uppercase;
}
h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */

    text-decoration-line: underline;
}
.game, .rule-game{
  margin-bottom: 36px;
}
 li{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
 }
footer{
    width:100%;
    height: 115px;
    background-color: black;
}
.footer__block{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.root{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
}
.social{
    display: flex;
    margin-bottom: 15px;
}
.footer__block-vk{
 margin-right: 10px;
}

