/*ОБНУЛЕНИЕ*/
* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }
/*ОБНУЛЕНИЕ*/


body{
    background: #E9E8E8;
}

.header{
    width: 100%;
    height: 100px;
    background-color:#414141 ;
    }
.wrapper{
    margin: 0px 100px;
    height: inherit;
}
.img_link{
    display: inline-block;
    padding-top:30px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.block__nav{
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    }
.block__nav-item{
    margin-left: 34px;
    }
.block__nav-item a:hover{
    transition: 0.5s;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(315deg, #5BD1BC, #B95ADB);
}
.block__nav-item a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block-comment__text{
    padding-top: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.045em;
    margin-bottom: 33px;
}
.block-comment__text::after{
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    background-color: #000000;
    position: relative;
}
label{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.045em;

    color: #000000;
}
.text-name{
    border: 1px solid black;
    background: #C4C4C4;
    width: 260.05px;
    height: 34px;
    margin:0px 44px 0px 17px;
    font-size: 20px;
}
.textforcomment{
    margin-top: 8px;
    width: 100%;
    height: 117px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.6);
}
.textforcomment[placeholder]{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 153.5%;
    letter-spacing: 0.06em;
    margin-bottom: 18px;
    
}
button{
    width: 315.02px;
    height: 46px;
    background: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    color: white;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 153.5%;
    /* identical to box height, or 28px */

    letter-spacing: 0.06em;
}
.block__user{
    margin-top: 66px;
}
.user__name{
    margin-bottom: 17px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.045em;

    color: #000000;
}
.user__time{
    display: inline-block;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.045em;

    color: #000000;

}
.rating-area {
    display: inline-block;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	padding: 0;
	cursor: pointer;
	font-size: 50px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

.block__user > .textforcomment{
   
    width: 100%;
    height: 117px;
    padding-top: 5px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.6);
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 153.5%;
    /* identical to box height, or 28px */

    letter-spacing: 0.06em;

    color: #FFFFFF;
}









/*FOOTER*/
footer{
    width:100%;
    height: 115px;
    background-color: black;
}
.footer__block{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.root{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
}
.social{
    display: flex;
    margin-bottom: 15px;
}
.footer__block-vk{
 margin-right: 10px;
}
/*FOOTER*/