
html,body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #E9E8E8;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
html{
    box-sizing: border-box;

}
*, *::before, *::after{
    box-sizing: inherit;
}
.header{
    width: 100%;
    height: 100px;
    background-color:#414141 ;
}
.wrapper{
    margin: 0px 100px;
    height: inherit;
}
.img_link{
    display: inline-block;
    padding-top:30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.block__nav{
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.block__nav-item{
   margin-left: 34px;
}
.block__nav-item a:hover{
    transition: 0.5s;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(315deg, #5BD1BC, #B95ADB);
  
}
.block__nav-item a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block_quest-name{
    
    background: #000000;
    width: 100%;
    height: 100px;
    text-align: center;
    
}
.block_quest-name h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    
    color: #C0C0C0;
    padding-top: 28px;
}
.block-quest{
    
}
.block-quest-items{
    background: url(/img/covid-19.jpg) center no-repeat;
    background-size: cover;
    width: 50%;
    height: 521px;
}
.block-wrap{
    margin: 0px 20px;
}
.block-quest-item1{
    background: rgba(0, 0, 0, 0.5);
    height: 72px;
    width: 100%;
    color:#C0C0C0;
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.block-quest-item1 p{
    padding: 24px;
}

.block-quest-item2{
    background: rgba(0, 0, 0, 0.5);
    height: 279px;
    width: 100%;
    text-align: center;
    
}
.blocck-quest-wrap{
    margin: 0px 178px;
}

.block-quest-item2-title{
    padding-top: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.045em;
    text-transform: uppercase;

    color: #C0C0C0;

}.block-quest-item2-subtutle{
    color: #E9E8E8;
}

button{
    width: 169px;
    height: 38px;
    border: 3px solid #24BC8E;
    box-sizing: border-box;
    border-radius: 23px;
    
    background-color: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.045em;

color: #C0C0C0;
}
button:hover{
    background-color: #2b2b2b;
    transition: 0.2s;
}
button:active {
    color: rgb(165, 165, 165);
    
  }
button:focus {
    outline: none; /*убрали рамку*/
}
footer{
    width:100%;
    height: 115px;
    background-color: black;
}
.footer__block{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.root{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
}
.social{
    display: flex;
    margin-bottom: 15px;
}
.footer__block-vk{
 margin-right: 10px;
}

